@tailwind base;
@tailwind components;
@tailwind utilities;



.addborder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #614546;
  width: 800px;
  height: 1px;

}


.addborder::after {
  content: "2";
  position: absolute;
  top: -11px;
  left: 124px;
  background: #EDE7E0;
  width: 12px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.borderLeft {
  position: relative;
}

.borderLeft::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 1px;
  background-color: #614546;
  bottom: 7px;
  left:0;
}